:root {
    --gap: 8px;
    --letterlink: var(--gap);
    --rs: 10vh;
    --cell-bg: #28292b;
    --bg: #eed974;
    --article-bg: #f7f7f7;
    --text: #28292b;
    --link: blue;
    --link-h: #ef303b;
    --gray: hsl(51, 3%, 55%);
    --input-bd: rgba(127,127,127,.21);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    font-size: 1em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.3;
    margin: 0 var(--gap) var(--gap);
}
p {
    margin: 0;
    margin-bottom: 0.7em;
}

a {
    color: var(--link);
    text-decoration: none;
    transition: color 0.2s;
}
a:hover {
    color: var(--link-h);
    transition: color 0s;
}

h4 { margin: 0; }

button
, input[type="button"]
, input[type="submit"]
{
    font-size: 1rem;
    border: 1px solid var(--input-bd);
    color: var(--text);
    background: rgba(127,127,127,.035);
    border-radius: 4px;
    line-height: 1;
    padding: 0.13em 0.27em 0.17em 0.23em;
    background-clip: padding-box;
}
button:hover
, input[type="button"]:hover
, input[type="submit"]:hover
{
    background: rgba(127,127,127,.1);
}
button:active
, input[type="button"]:active
, input[type="submit"]:active
{
    background: rgba(127,127,127,.35);
}

main {
    position: relative;
    height: 90vh;
}

article {
    width: 100%;
    max-width: calc(1024px - (2 * var(--gap)));
    margin: 0 auto;
    padding: var(--gap) calc(3 * var(--gap)) calc(3 * var(--gap));
    background: var(--article-bg);
    min-height: 100vh;
    border-radius: 2px;
}

.main-input {
    text-align: center;
    margin-bottom: 3em;
}
.nonex-syms {
    position: absolute;
    color: var(--link-h);
    opacity: 0.5;

    animation-name: nonex-sym;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes nonex-sym {
    0% {}
    33% {
        transform: translate(-2px, -7px);
    }
    67% {
        transform: translate(2px, -14px);
    }
    100% {
        transform: translate(0, -21px);
        opacity: 0;
    }
}

.text-input {
    font-size: 20px;
    display: block;
    margin: 0 auto var(--gap);
    padding: calc(var(--gap) / 2);
    outline: none;
    border: 1px solid var(--input-bd);
    /* position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; */
}

.display-wrapper {
    display: flex;
    position: absolute;
    width: calc(100% + (2 * var(--gap)));
    height: calc(100% - var(--scroll-mod));
    margin: 0 calc(-1 * var(--gap));
    padding: 0 var(--gap);
    bottom: 0;
    --scroll-mod: 0px;
}

.display {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: calc(var(--gap) / 2) calc(var(--gap) * -.5);
    cursor: text;
    will-change: height;
}
.display.highlight-user .sym:not([data-author="user"]) {
    opacity: 0.75;
}

.sym {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell {
    position: relative;
    /* flex-grow: 1; */
    flex-basis: 0;
    margin: calc(var(--gap) / 2);
}
.sol { background: var(--cell-bg); }

.s1 { flex-basis: calc(((100% - (5 * var(--gap))) / 6 * 1) + (0 * var(--gap))); }
.s2 { flex-basis: calc(((100% - (5 * var(--gap))) / 6 * 2) + (1 * var(--gap))); }
.s3 { flex-basis: calc(((100% - (5 * var(--gap))) / 6 * 3) + (2 * var(--gap))); }
.s4 { flex-basis: calc(((100% - (5 * var(--gap))) / 6 * 4) + (3 * var(--gap))); }
.s5 { flex-basis: calc(((100% - (5 * var(--gap))) / 6 * 5) + (4 * var(--gap))); }
.s6 { flex-basis: calc(((100% - (5 * var(--gap))) / 6 * 6) + (5 * var(--gap))); }

.rs-tr { border-top-right-radius: var(--rs); }
.rs-br { border-bottom-right-radius: var(--rs); }
.rs-bl { border-bottom-left-radius: var(--rs); }
.rs-tl { border-top-left-radius: var(--rs); }

.d-tl::before,
.d-bl::before,
.d-tr::after,
.d-br::after
{
    content: '';
    position: absolute;
    display: block;
    width: calc(var(--gap) + 2px);
    height: 100%;
    top: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-color: var(--cell-bg);
}
.d-tl::before,
.d-tr::after
{ border-top-width: var(--letterlink); }
.d-bl::before,
.d-br::after
{ border-bottom-width: var(--letterlink); }
.d-tl::before,
.d-bl::before
{ left: calc(-1 * var(--gap) - 1px); }
.d-tr::after,
.d-br::after
{ right: calc(-1 * var(--gap) - 1px); }

.cursor {
    position: absolute;
    display: none;
    width: var(--gap);
    top: calc(-.5 * var(--gap));
    bottom: calc(-.5 * var(--gap));
    background: var(--link-h);
    animation: blink 1.2s infinite;
    transform: translateX(-50%);
}
.cursor.range {
    animation: none;
    transform: none;
}
.focus .cursor { display: block; }
@keyframes blink {
    0%   { opacity: .2; }
    50%  { opacity:  1; }
    100% { opacity: .2; }
}

footer {
    display: flex;
    width: 100%;
    max-width: calc(1024px - (2 * var(--gap)));
    margin: var(--gap) auto;
}
.footer-left {
    flex-grow: 1;
    margin-right: var(--gap);
}
.footer-right {
    flex-grow: 2;
    margin-left: var(--gap);
    text-align: right;
}
.footer-mailto {
    border-bottom: 1px solid #0001;
}

.mailsnail-20 {
    display: inline-block;
    position: relative;
    -webkit-mask-image: url("/img/mailsnail.png");
    mask-image: url("/img/mailsnail.png");
    -webkit-mask-size: 100% auto;
    mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 1.81em;
    margin: 0 0.05em 0 -0.35em;
    background: currentcolor;
  }
